{% extends "base.html" %}
{% load static %}

{% block title %}Modify Event | JP EVENTS{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'media/css/adminevents.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Modify Event</h1>

        <!-- Back to Admin Events Button -->

        <!-- Modify Event Form -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="event_id" value="{{ event.id }}">
            <div class="form-actions">
                <button type="submit" name="save_changes" class="btn btn-warning">Save Changes</button>
            </div>
        </form>
        <div class="mb-3">
            <a href="{% url 'admin_events' %}" class="btn btn-secondary">Back to Events</a>
        </div>

    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

